<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="14.0.25424" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="3.5.0" targetFramework="net45" />
  <package id="TemplateBuilder" version="1.1.4.6-beta" targetFramework="net45" />
</packages>